@media (max-width: 768px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        font-family: $primary-font;
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #E1FF8F;
        height: 700px;
        overflow: hidden;


        &__title {
            display: none;
        }

        &__description {
            display: none;
        }

        &__title-mob {
            display: block;
            white-space: pre-line;
            /* Если в html в блоке div задать построчную то данное свойство сохраяет html переносы */
            color: #202027;
            font-weight: 700;
            font-style: Bold;
            font-size: 40px;
            margin-top: 147px;
            text-align: center;
            z-index: 2;
        }

        &__description-mob {
            display: block;
            white-space: pre-line;
            /* Если в html в блоке div задать построчную то данное свойство сохраяет html переносы */
            color: #202027;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            margin-top: 24px;
            text-align: center;
            z-index: 2;
        }

        &__button {
            display: flex;
            justify-content: center;
        }

        &__button-btn {
            border-radius: 60px;
            width: 285px;
            height: 55px;
            margin-top: 36px;
            font-size: 16px;
            line-height: 18px;
        }

        &__svg1 {
            display: none;
        }

        &__lowribbon {
            height: 51px;
        }

        &__lowribbon-text {
            font-style: Bold;
            font-weight: 700;
            font-size: 16px;
        }

        &__lowribbon-svg {
            width: 50%;
            height: 50%;
        }

        &__lowribbon-track {
            gap: 27px;
        }

        &__svg1 {
            display: none;
        }

        &__svg1-mob {
            display: block;
            position: absolute;
            right: 0px;
            top: 0px;
            z-index: 1;
        }

        &__svg2 {
            width: 35px;
            height: auto;
        }

        &__svg3 {
            width: 21px;
            height: auto;
        }

        &__svg4 {
            width: 39px;
            height: auto;
            top: 588px;
        }

        &__svg5 {
            width: 18px;
            height: auto;
            top: 558px;
        }

    }

    .Gamebox {
        padding-top: 48px;

        &__heading {
            display: none;
        }

        &__description {
            display: none;
        }

        &__table {
            display: none;
        }

        &__svgimg1 {
            display: none;
        }

        &__svgimg1 {
            display: none;
        }

        &__svgimg2 {
            display: none;
        }

        &__svgimg3 {
            display: none;
        }

        &__svgimg4 {
            display: none;
        }

        &__svgimg5 {
            display: none;
        }

        &__svgimg6 {
            display: none;
        }

        &__svgimg7 {
            display: none;
        }

    }

    .PlayGame {
        grid-template-columns: repeat(4, 1fr);
        gap: 0;
        row-gap: 24px;
        margin-bottom: 10px;

        &__item1 {
            height: 528px;
            grid-column: 1 / -1;
            flex-direction: column;
            align-items: center;
        }


        &__item2 {
            height: 528px;
            grid-column: 1 / -1;
            flex-direction: column;
            align-items: center;
        }

        &__img {
            width: 100%;
            height: 285px;
        }

        &__text1 {
            margin-top: 29px;
            margin-left: 29px;
            font-size: 32px;

        }

        &__text2 {
            margin-top: 16px;
            margin-left: 29px;
            font-size: 16px;
        }

        &__btn {
            margin-left: 29px;
            height: 55px;
            width: 285px;
            font-size: 16px;
        }

        &__item-btn {
            margin-top: 32px;
        }

    }

    .PlayGameheading {
        font-style: Bold;
        font-weight: 700;
        font-size: 40px;

    }

    .mobileheight1 {
        height: 529px;
        flex-direction: column-reverse;
        justify-content: flex-end;

    }

    .mobileheight2 {
        height: 568px;

    }

    .mobileheight3 {
        height: 568px;
        flex-direction: column-reverse;
        justify-content: flex-end;

    }

    .mobileheight4 {
        height: 607px;
    }

    .mobileheight5 {
        height: 568px;
        flex-direction: column-reverse;
        justify-content: flex-end;

    }

    .mobileheight6 {
        height: 627px;

    }

    .mobiletex1aling {
        width: 120px;
        white-space: normal;
    }

    .mobilealing {
        width: 235px;
        white-space: normal;
    }

    .PlayGame__item1:hover {
        transform: scale(1.03);

    }

    .PlayGame__item2:hover {
        transform: scale(1.03);

    }

    .footer {
        height: 100px;
    }

    .footer__text {
        font-weight: 600;
        font-size: 16px;
        color: #000000;
    }



}