@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 786px/2);
        padding-right: calc(50% - 786px/2);
        ;
    }

    .header {
        &__link {
            padding: 0;
        }

    }

    .hero {
        &__title {
            width: 786px;
        }

    }

    .for {
        &__item {
            height: 268px;
        }

    }

    .productpart__box {
        column-gap: 30px;
        row-gap: 0;
        row-gap: 30px;
    }

    .product {
        grid-column: span 6;
    }

    .productpart__offers {
        padding-top: 64px;
    }


    .footer {
        margin-top: 68px;

        &__title-box {
            display: none;
            width: 0;
        }
    }

    .form__input {
        width: 260px;
    }

    .form__btn {
        width: 260px;
    }

    .form__text {
        width: 260px;
    }

    /*Стили для корзины */
    .cart {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 64px;
    }

    .cart__content {
        grid-column: span 4;
    }

    .cart__number {
        width: 51px;
    }

    .cart__form {
        width: 378px;
    }

    .cart__form-orderbtn {
        width: 338px;
    }

    .pageelementmob {
        display: none;
    }

}

@media (max-width: 833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
        ;
    }

}